* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.body {
    min-height: 100vh;

    display: grid;
    grid-template: 100px 1fr 50px / 1fr;
	row-gap: 30px;

    background: rgb(248, 248, 248);
}

.title {
	margin: 10px 0;
}

.header {
	background: rgb(32, 32, 32);
}

.header__inner {
	display: flex;
	align-items: center;
	height: 100%;

	color: #fff;
}

.header__logo {
	width: 60px;
}

.header__info {
	font-size: 1.5em;
	margin-left: 25px;
}

.footer {
	background: rgb(32, 32, 32);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__info {
	text-align: center;
}

table {
	border-collapse: collapse;
}

td, th {
    padding: 3px;
    border: 1px solid #333;
}